<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choix du lobby</title>
    <link rel="stylesheet" href="../static/styles/choix_lobby.css">
    <link rel="stylesheet" href="../static/styles/btn_valider.css">
    <link rel="stylesheet" href="../static/styles/btn_supprimer.css">
</head>

<body>
    <div class="page_choix">
        <!-- form-création de la partie -->
        <div class="creation">
            <div class="card">
                <div class="leftside">
                    <h1>Profil Master</h1>
                    <h3 class="left-name">Nom du joueur</h3>
                    <!-- avatar du joueur -->
                    <img src="../static/assets/images/avatar_g.png" class="product" alt="avatar_garçon" />
                    <a href="./pseudo.html">
                        <div class="btn from-right">Supprimer</div>
                    </a>    
                    
                </div>
                <div class="rightside1">
                    <form action="">
                        <h1>Créer une partie</h1>
                        <p>Nommez votre partie !</p>
                        <input type="text" class="inputbox" name="name" placeholder="Nom de la partie" required />
                        <p>Choix du thème</p>
                        <select class="inputbox" name="card_type" id="card_type" required>
                            <option value="">-- Matrice de jeu --</option>
                            <option value="Aucune">Aucune (neutre)</option>
                            <option value="Warhammer">Warhammer 40k</option>
                            <option value="Cyperpunk">Cyberpunk (jdr)</option>
                        </select>
                        <button type="submit" class="button-53" role="button">Valider</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- fin création de la partie -->
        <!-- form-rejoinde une partie -->
        <div class="rejoindre">
            <div class="card">
                <div class="leftside">
                    <h1>Profil Joueur</h1>
                    <h3 class="left-name">Nom du joueur</h3>
                    <!-- avatar du joueur -->
                    <img src="../static/assets/images/avatar_f.png" class="product" alt="avatar_fille" />
                    <a href="./pseudo.html">
                        <div class="btn from-right">Supprimer</div>
                    </a>    
                </div>
                <div class="rightside">
                    <form action="">
                        <h1>Rejoindre une partie</h1>
                        <p>Entrez le nom ou l'identifiant de la partie que vous souhaitez rejoindre !</p>
                        <input type="text" class="inputbox" name="name" placeholder="Nom ou identifiant de la partie" required />
                        <button type="submit" class="button-53" role="button">Valider</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- fin rejoindre une partie -->
    </div><!--fin page choix-->

</body>

</html>