<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choississez votre pseudo</title>
    <link rel="stylesheet" href="../static/styles/pseudo.css">
    <link rel="stylesheet" href="../static/styles/btn_valider.css">
</head>

<body>
    <div class="page_pseudo">
        <!-- form-pseudo -->
        <div class="mainscreen">
            <div class="card">
                <div class="leftside">
                    <!-- logo de xavier -->
                    <h2>logo de xavier</h2>
                    <img src="../static/assets/images/samurai-logo.jpg" class="product" alt="Samurai-mask" />
                </div>
                <div class="rightside">
                    <form action="./choix_lobby.html">
                        <h2>Qui ose entrer dans l'arène ?</h2>
                        <p>Par quel nom te fais tu connaitre ?</p>
                        <input type="text" class="inputbox" name="name" placeholder="Entrez votre pseudo" required />
                        <div class="avartar_container">
                            <img src="../static/assets/images/avatar_g.png" class="avatar" alt="avatar_garçon" />
                            <p>Quel avartar te définit le mieux ? (optionnel)</p>
                        </div>
                        <input type="file" class="inputbox" name="card_number" id="avatar" />
                        <button type="submit" class="button-53">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>