/* css de la page index.html*/

body{
    margin:0;
    padding:0;
    text-align: center;
    min-height: 100vh;
    background-image: url(../assets/images/space-lg.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
    overflow:hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page{
    width: 65%;
    /* display: flex;
    justify-content: center; */
    margin:auto;
    margin-top: 2rem;
}

.affichage{
    color:rgb(171, 219, 75);
    text-shadow: 2px 2px 4px black;
}

.affichage2{
    color:white;
    text-shadow: 2px 2px 4px black;
}

.container-grid{
    width: 100%;
    height: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a a a a b b"
        "a a a a b b"
        "a a a a b b"
        "c c d d b b"
        "c c d d e e"
        "c c d d e e"
        "f f d d e e"
        "f f g g e e";

}

.bloc1{
    background-image: url(../assets/images/WH_Mobile_Hero_Generic.jpg);
    background-position: center;
    background-size: cover;
    grid-area: a;
    border-radius: 20px 0px 0px 0px;
}
.bloc2{
    grid-area: b;
    background-image: url(../assets/images/d-background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 20px 0px 0px;
}
.bloc3{
    grid-area: c;
    background-image: url(../assets/images/d-fiche.jpg);
    background-position: center;
    background-size: cover;
}
.bloc4{
    grid-area: d;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: antiquewhite;
}

.bloc5{
    grid-area: e;
    background-image: url(../assets/images/d-bag.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 20px 0px;
}
.bloc6{
    grid-area: f;
    background-image: url(../assets/images/d-plateau.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 0px 20px;
}

.bloc7{
    grid-area: g;
    background-image: linear-gradient(45deg, rgb(73, 160, 30) 0%, rgb(73, 160, 30) 6%,rgb(88, 141, 55) 6%, rgb(88, 141, 55) 11%,rgb(103, 122, 81) 11%, rgb(103, 122, 81) 55%,rgb(118, 103, 106) 55%, rgb(118, 103, 106) 81%,rgb(132, 84, 131) 81%, rgb(132, 84, 131) 83%,rgb(147, 65, 156) 83%, rgb(147, 65, 156) 92%,rgb(162, 46, 182) 92%, rgb(162, 46, 182) 95%,rgb(177, 27, 207) 95%, rgb(177, 27, 207) 100%),linear-gradient(112.5deg, rgb(73, 160, 30) 0%, rgb(73, 160, 30) 6%,rgb(88, 141, 55) 6%, rgb(88, 141, 55) 11%,rgb(103, 122, 81) 11%, rgb(103, 122, 81) 55%,rgb(118, 103, 106) 55%, rgb(118, 103, 106) 81%,rgb(132, 84, 131) 81%, rgb(132, 84, 131) 83%,rgb(147, 65, 156) 83%, rgb(147, 65, 156) 92%,rgb(162, 46, 182) 92%, rgb(162, 46, 182) 95%,rgb(177, 27, 207) 95%, rgb(177, 27, 207) 100%),linear-gradient(67.5deg, rgb(73, 160, 30) 0%, rgb(73, 160, 30) 6%,rgb(88, 141, 55) 6%, rgb(88, 141, 55) 11%,rgb(103, 122, 81) 11%, rgb(103, 122, 81) 55%,rgb(118, 103, 106) 55%, rgb(118, 103, 106) 81%,rgb(132, 84, 131) 81%, rgb(132, 84, 131) 83%,rgb(147, 65, 156) 83%, rgb(147, 65, 156) 92%,rgb(162, 46, 182) 92%, rgb(162, 46, 182) 95%,rgb(177, 27, 207) 95%, rgb(177, 27, 207) 100%),linear-gradient(90deg, rgb(24, 15, 143),rgb(170, 57, 157)); background-blend-mode:overlay,overlay,overlay,normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
